section {
    nav {
        -webkit-flex: 5;
        -ms-flex: 5;
        flex: 5;
        background: #c4f3cc;
        padding: 0px;
        height: 100vh;
    }
    article {
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        background-color: #90f8ef;
        padding: 0px;
      }

    display: -webkit-flex;
    display: flex;
    background-color: rgb(140, 248, 158);
    